@import url('bootstrap');
@import url('bootstrap-icons');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sconto {
  min-width: 1300px;

}

h1 {
  color: lightgray;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d1c1c;
}

.card {
  background-color: lightgray;
  color: #1d1c1c;
  border: none;

  p {
    text-transform: uppercase;
  }

  img {

    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}