@import url('bootstrap');
@import url('bootstrap-icons');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.sconto {
  min-width: 1300px;

}

h1 {
  color: lightgray;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d1c1c;
}

.card {
  background-color: lightgray;
  color: #1d1c1c;
  border: none;

  p {
    text-transform: uppercase;
  }

  img {

    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.chi_siamo {


  li {
    border: solid 1px lightgray;
    border-radius: 1rem;

  }
}

.all {
  background-color: #1d1c1c;
  color: white;
  display: flex;

  .up {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  ul {
    padding: 2rem;

    h3 {
      font-size: 22px;
      margin-left: 150px;
      margin-right: 150px;

    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  li {
    margin-left: 150px;
    margin-right: 150px;
    list-style: none;
    color: #909190;
    font-size: 18px;
  }

}

.low {
  background-color: #303030;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  padding: 40px;

  button {
    padding: 8px;
    color: white;
    border-color: #0282f9;
    background-color: transparent
  }

  .social {
    a {
      padding: 8px;
    }

    .follow {
      color: #0282f9;
    }
  }
}